<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/login.css" />
</head>
<body>
<div class="container">
    <a href="{:url('Index/index')}">首页</a>
    <h1>文件上传</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <input class="input" type="file" name="file" /> <br> 
        <input class="input" type="submit" value="上传" /> 
    </form>
</div>
</body>
</html>

