body{
    font-size: 14px;
}
.fontColor_balck{
    color: #000;
}
.fontColor_tran{
    color: transparent;
}
.font_weight{
    font-weight: bold;
}
.margin_bottom6{
    margin-bottom: 6px;

}
/* POPOVER COLOR   */
.popover.bottom {
    color: #000;
}
.dashbox .panel-left{
    position: relative;
}
.dashbox .panel-left .label_ques {
    position: absolute;
    right : 5px;
    top: 5px;
    font-size: 16px;
    color: #1565c0;
}
.popover{
    max-width: 1000px;
    min-width: 200px;
}
.popover-title{
    color: #000;
}
.popover-content{
    color: #000;
}

/*  TO TOP */
.footer-tools {
    position: fixed;
    right: 20px;
    bottom: 20px;
}